{% extends 'corsi/base.html' %}

{% block content %}

<form method="GET" action=""> {{ form.q }}<input type="submit" value="Search"> <a href="/">indietro</a>
  <p>numero corsi tot: {{corsi.count}}</p>
</form>


    <p>{{ ripetiziones }} </p>

    {% for corso in corsi%}

{%if corso.error%}
<i class="material-icons">remove</i>
{%endif%}

        <div class="card">
  <div class="card-header">
  corso
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ corso.titolo }}</h4>
    <p>{{ corso.descrizione }}</p>
  <h10>{{ corso.studenti_referenti }}</h10>
  <p>{{corso.id}} </p>
  {%if corso.progressivo == True%} <p>progressivo</p>
  {%elif corso.progressivo == False%}<p>singolo</p>
  {%endif%}
    <a href="{%url 'edit_iscrizioni' corso.id%}" class="btn btn-primary">piu dettagli</a>
  </div>
</div>
<br>
    {% endfor %}

{% endblock content %}
