{% extends 'corsi/base.html' %}

{% block content %}

<form method="GET" action=""> {{ form.q }}<input type="submit" value="Search"> <a href="/">indietro</a>
  <p>numero corsi tot: {{corsi.count}}</p>
</form>


    <p>{{ ripetiziones }} </p>

    {% for corso in corsi%}


{% csrf_token %}
        <div class="card">
  <div class="card-header">
  corso
  </div>
  <div class="card-body">
    <h4 class="card-title">{{ corso.titolo }}</h4>

  <h10>{{ corso.studenti_referenti }}</h10>
  <p>{{corso.id}} </p>
  <p>{{iscrizioni.count}}<p>
  {%if corso.progressivo == True%} <p>progressivo</p>
  {%elif corso.progressivo == False%}<p>singolo</p>
  {%endif%}

    <form method="POST" class="post-form"  action="{%url 'edit_iscrizioni' corso.id  %}?f={{fascia}}">
  {% csrf_token %}

  <a href="{%url 'edit_iscrizioni' corso.id  %}?f={{fascia}}" class="btn btn-primary">Info e Iscriviti</a>
</form>

  </div>
</div>
<br>
    {% endfor %}

{% endblock content %}
