{% extends 'corsi/base.html' %}

{% block content %}


    {% for iscrizione in iscrizioni%}

    <div class="panel panel-default">

      <div class="panel-heading">
<p><b>{{user}}</b></p>
  </div>

      <table class="table table-striped">
        <thead>
          <tr>
  <th scope="col">#</th>
  <th scope="col">Martedì</th>
  <th scope="col">Mercoledì</th>
  <th scope="col">Giovedì</th>
  <th scope="col">Venerdì</th>
</tr>

</thead>

  <tr> <th scope="row">1.</th> <td>Lezione </td><td>Lezione </td><td>Lezione </td></td><td>Lezione </tr>
  <tr> <th scope="row">2.</th> <td> {{ iscrizione.corso1|default_if_none:'<img class="icone" src="/static/x.svg" alt="modifica">' }} {{iscrizione.corso1}} <a href="/filtro_fasce/?f=f1"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/></td><td>{{ iscrizione.corso3|default_if_none:'<img class="icone" src="/static/x.svg" alt="modifica">' }}{{iscrizione.corso3}} <a href="/filtro_fasce/?f=f3"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/></td><td>{{ iscrizione.corso5|default_if_none:'<img class="icone" src="/static/x.svg" alt="modifica">' }}{{iscrizione.corso5}} <a href="/filtro_fasce/?f=f5"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/></td></td><td>{{ iscrizione.corso7|default_if_none:'<img class="icone" src="/static/x.svg" alt="modifica">' }}{{iscrizione.corso7}} <a href="/filtro_fasce/?f=f7"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/></td></tr>
  <tr> <th scope="row">3.</th> <td>{{ iscrizione.corso2|default_if_none:'<img class="icone" src="/static/x.svg" alt="modifica">' }}{{iscrizione.corso2}} <a href="/filtro_fasce/?f=f2"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/></td><td>{{ iscrizione.corso4|default_if_none:'<img class="icone" src="/static/x.svg" alt="modifica">' }}{{iscrizione.corso4}} <a href="/filtro_fasce/?f=f4"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/></td><td>{{ iscrizione.corso6|default_if_none:'<img class="icone" src="/static/x.svg" alt="modifica">' }}{{iscrizione.corso6}} <a href="/filtro_fasce/?f=f6"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/></td></td><td>{{ iscrizione.corso8|default_if_none:'<img class="icone" src="/static/x.svg" alt="modifica">' }}{{iscrizione.corso8}} <a href="/filtro_fasce/?f=f8"><img class="icone" src="/static/modifica.svg" alt="modifica"><a/><a/></td></tr>

  </table>
    </div>

{%endfor%}
{% endblock content %}
